<!-- [[! Theme Styles ]] -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/styles/screen.css" />
<link rel="stylesheet" type="text/css"
      href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/styles/syntax.css" />

<!-- [[! highlight.js ]] -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
<style>.hljs { background: none; }</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- Your styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/{{ site.styles_path }}/main.css?{{ site.time | date: '%s%N' }}">

<style>
</style>
