---
layout: default
class: 'author-template'
---
<!-- < default -->
{% include shared/header.html %}
<!-- #author  -->
    <main class="author-profile inner">
        {% if site.author_image %}
        <figure class="author-image">
            <div class="img" style="background-image: url({{ site.baseurl }}/{{ site.images_path }}/{{ site.author_image }})"><span class="hidden">{{ site.author }}'s Picture</span></div>
        </figure>
        {% endif %}
        <h1 class="author-title">{{ site.author }}</h1>
        {% if site.bio %}
            <h2 class="author-bio">{{ site.bio }}</h2>
        {% endif %}
        <div class="author-meta">
            {% if site.location %}<span class="author-location icon-location">{{ site.location }}</span>{% endif %}
            {% if site.url %}<span class="author-link icon-link"><a href="{{ site.url }}">{{ site.short_url }}</a></span>{% endif %}
            <!-- <span class="author-stats"><i class="icon-stats"></i> [[plural ../pagination.total empty='No posts' singular='% post' plural='% posts']]</span> -->
            <span class="author-stats"><i class="icon-stats"></i>{% if paginator.total_posts == 0 %}No posts{% elsif paginator.total_posts == 1 %}1 post{% else %}{{ paginator.total_posts }} posts{% endif %}</span>
        </div>
        <div class="author-bio">
          {{ content }}
        </div>
    </main>
<!-- /author -->
